name: rawshaping

services:
  raw-db:
    image: mariadb:latest
    command: "--default-authentication-plugin=mysql_native_password"
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${LOCAL_DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${LOCAL_DB_NAME}
      - MYSQL_USER=${LOCAL_DB_USER}
      - MYSQL_PASSWORD=${LOCAL_DB_PASSWORD}
    expose:
      - 3306
      - 33060
  raw-wordpress:
    image: wordpress:latest
    volumes:
      - wp_data:/var/www/html
      - ../../apps/wordpress/themes/raw13:/var/www/html/wp-content/themes/raw13
      - ../../apps/wordpress/uploads:/var/www/html/wp-content/uploads
    ports:
      - 8008:80
    restart: always
    environment:
      - WORDPRESS_DB_HOST=raw-db
      - WORDPRESS_DB_USER=${LOCAL_DB_USER}
      - WORDPRESS_DB_PASSWORD=${LOCAL_DB_PASSWORD}
      - WORDPRESS_DB_NAME=${LOCAL_DB_NAME}

  raw-wp-cli:
    image: wordpress:cli
    depends_on:
      - raw-db
      - raw-wordpress
    user: "33"
    volumes:
      - wp_data:/var/www/html
      - ../../apps/wordpress/themes/raw13:/var/www/html/wp-content/themes/raw13
      - ../../apps/wordpress/uploads:/var/www/html/wp-content/uploads
    environment:
      - WORDPRESS_DB_HOST=raw-db
      - WORDPRESS_DB_USER=${LOCAL_DB_USER}
      - WORDPRESS_DB_PASSWORD=${LOCAL_DB_PASSWORD}
      - WORDPRESS_DB_NAME=${LOCAL_DB_NAME}
    command: >
      /bin/sh -c '
      sleep 12 &&
      wp core install --path="/var/www/html" --url="${LOCAL_WORDPRESS_URL}" --title="${LOCAL_WORDPRESS_SITE_TITLE}" --admin_user="${LOCAL_WORDPRESS_ADMIN_USER}" --admin_password="${LOCAL_WORDPRESS_ADMIN_PASSWORD}" --admin_email="${LOCAL_WORDPRESS_ADMIN_EMAIL}" --skip-email &&
      wp core update-db --path="/var/www/html" &&
      wp plugin install advanced-custom-fields &&
      wp option update permalink_structure "/%postname%/" &&
      wp rewrite flush
      '

volumes:
  db_data:
  wp_data:
