@import "tailwindcss";

@font-face {
  font-family: "Mono";
  src: url("/font/mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #006eab;
  --grey: #919191;
  --font-mono: "Mono", sans-serif;
  --text-base: 14.5px;
}

::selection {
  @apply bg-primary/75 text-white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
  --color-primary: var(--primary);
  --color-grey: var(--grey);
  --text-shadow-custom: 0 0 3px rgba(0,0,0,0.4);
}

html, body{
  @apply h-full w-full;
}
body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-mono); */
  font-family: var(--font-mono);
  @apply tracking-tight text-base;


}
#__next{
@apply flex flex-col h-full;
}



iframe{
  max-width: 400px;
}

a{
  @apply text-primary hover:text-primary/80 hover:underline;
  display: inline-block; /* or block, depending on your layout */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle; /* optional */
}
p > a, blockquote > a{
  max-width: 100%;
}

nav a{
  @apply text-grey hover:text-primary;
}

.has-medium-font-size{
  @apply text-[16px];
}

.masonry-container {
  position: relative;
  width: 100%;
  overflow: visible;
  background: #f0f0f0;
}

.masonry-wrapper {
  position: relative;
  /* cursor: grab;
  touch-action: none;
  will-change: transform; */
}


.scrollbar-wrapper p + p{
  @apply mt-3;
}


:root{
  --scrollbar-size: 6px;
}
.scrollbar-wrapper{
  @apply w-full h-full;
}

.ScrollbarsCustom {
  position: relative;
  width: 100%;
  height: 100%;
}

.ScrollbarsCustom-Wrapper {
  position: absolute;
  inset: 0px 10px 0px 0px;
  overflow: hidden;
}

.ScrollbarsCustom-Scroller {
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  margin-right: -16px;
}

.ScrollbarsCustom-Content {
  box-sizing: border-box;
  padding: 0.05px;
  min-height: 100%;
  min-width: 100%;
}

.ScrollbarsCustom-TrackY {
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  @apply bg-transparent hover:bg-grey/10;
  user-select: none;
  width: var(--scrollbar-size);
  height: calc(100% - 20px);
  top: 10px;
  right: 0px;
}

.ScrollbarsCustom-ThumbY {
  cursor: pointer;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.ScrollbarsCustom-TrackX {
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  user-select: none;
  height: var(--scrollbar-size);
  width: calc(100% - 20px);
  bottom: 0px;
  left: 10px;
  @apply bg-transparent hover:bg-grey/10;
}

.ScrollbarsCustom-ThumbX {
  cursor: pointer;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

p > iframe{
  @apply w-full;
}