@import "tailwindcss";

@font-face {
  font-family: "Mono";
  src: url("/font/mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #006eab;
  --grey: #919191;
  --font-mono: "Mono", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
  --color-primary: var(--primary);
  --color-grey: var(--grey);
}

html, body{
  @apply h-full w-full;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

* {
  font-family: var(--font-mono);
}
nav{
  background: white url("/img/sidebar.png") no-repeat right top;
  view-transition-name: footer;
}

iframe{
  max-width: 400px;
}

a{
  @apply text-primary hover:text-primary/80 hover:underline;
  display: inline-block; /* or block, depending on your layout */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px; /* adjust this to your desired width */
  vertical-align: middle; /* optional */
}

::view-transition-group(footer){
  z-index:9999;
}
nav a{
  @apply text-grey hover:text-primary;
}

.has-medium-font-size{
  @apply text-lg;
}

.masonry-container {
  position: relative;
  width: 100%;
  overflow: visible;
  background: #f0f0f0;
}

/* .masonry-wrapper {
  position: relative;
  will-change: transform;
} */

/* .ScrollbarsCustom-Track{ */
  /* @apply bg-transparent; */
/* } */
.scrollbar{
  @apply w-full h-full;
}
.scrollbar .ScrollbarsCustom-Wrapper{
  @apply h-full;
  width: calc(100% - 10px);
}
.scrollbar .ScrollbarsCustom-Track{
  height: 100%;
  position: absolute;
  right: 0;
  width: 10px;
}
.scrollbar .ScrollbarsCustom-Track:hover{
  @apply bg-grey/20;
}
.scrollbar .ScrollbarsCustom-Track:active{
  @apply bg-grey/40;
}
.scrollbar .ScrollbarsCustom-Thumb{
  @apply bg-grey/40;
}
.scrollbar .ScrollbarsCustom-Thumb:hover{
  @apply bg-grey/60;
}
.scrollbar .ScrollbarsCustom-Thumb:active{
  @apply bg-grey/80;
}